.Project button {
	transform: rotate(0);
}

.Project {
	margin: 2rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	width: 60%;
	background-color: rgb(33, 55, 119);
	border-radius: 10px;
}

.Project img {
	width: 350px;
	height: 350px;
	display: inline-block;
	position: relative;
	left: -80px;
	top: -20px;
	box-shadow: 0 0 10px #1091fa, 0 0 20px #050507;
	border-radius: 5px;
}

.Project p {
	color: rgb(206, 202, 202);
}

.Project #Content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 880px;
	padding: 0px 20px;
	height: 350px;
	text-align: center;
}

.Project #Content button {
	background-color: royalblue;
	color: white;
	border: 1px solid royalblue;
	padding: 2px 20px;
	margin: auto;
	width: 100px;
}

.Project #Content button:hover {
	transition: 0.3s;
	background-color: transparent;
}
