.Project button {
	transform: rotate(0);
}

.Project {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border: 1px solid white;
	margin-top: 6rem;
	margin-left: 6rem;
	border-radius: 10px;
	background-image: linear-gradient(135deg, #040f1f 10%, #bb2a36 100%);
}

.Project h1 {
	margin: 0;
}

.Project img {
	display: inline-block;
	position: relative;
	top: -3rem;
	left: -3rem;
	margin: 0;
	width: 350px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid white;
}

#Content {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 350px;
}

#Content button {
	background-color: royalblue;
	color: white;
	width: 100px;
	border: 1px solid black;
	border-radius: 10px;
}

#Content button:hover {
	border-color: white;
}

@media (orientation: portrait) {
	.Project img {
		left: 0;
	}

	.Project {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media (max-width: 390px) {
	.Project img {
		width: 175px;
		height: 175px;
	}
	.Project {
		width: 175px;
		font-size: 15px;
	}

	#Content {
		width: inherit;
	}
}
