.techStack {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 25px;
}

.stack {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: 4rem;
}

.stack * {
	margin: 0 1rem;
}

#BackEnd p {
	color: rgb(127, 58, 218);
	font-size: 20px;
	margin: auto;
}

@media only screen and (orientation: portrait) {
	.techStack {
		font-size: 18px;
	}

	.stack {
		flex-direction: column;
	}
}
