#CentralContent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 30px;
}

#CentralContent img {
	height: 10rem;
	max-width: 12rem;
	border-radius: 100px;
	margin-top: 15rem;
	margin-left: 2rem;
	box-shadow: 10px 10px 5px rgb(24, 24, 24);
	border: 5px solid turquoise;
}

#AboutMe {
	max-width: 60rem;
	margin: 5rem auto;
	padding: 1rem;
	text-align: center;
}

#AboutMe h4 {
	text-decoration: underline;
	color: tomato;
	text-decoration-color: tomato;
}

.themeBlack {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 600px) {
	img {
		display: flex;
	}
}
@media only screen and (max-width: 600px) {
	img {
		display: none;
	}

	p,
	h1 {
		text-align: center;
	}
}

.themeWhite {
	color: tomato;
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}

#Info {
	margin-top: 10rem;
}

#Info h1 {
	color: tomato;
}

button {
	width: max-content;
	height: max-content;
	margin-top: 2rem;
	margin-left: 4rem;
	font-family: "Roboto Mono", monospace;
	transform: rotate(-0.05turn);
	cursor: pointer;
}

.themeBlack button {
	background-color: transparent;
	color: turquoise;
	border: 1px solid turquoise;
}

.themeBlack button:hover {
	color: tomato;
}

.themeWhite button {
	background-color: turquoise;
	color: black;
	border: 1px solid black;
}

.themeWhite button:hover {
	background-color: tomato;
}

.button {
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 4px;
	position: relative;
	border: none;
	color: #fff;
	text-align: center;
	transition-duration: 0.4s;
	overflow: hidden;
	box-shadow: 0 5px 15px #193047;
	border-radius: 4px;
}

.button:hover {
	background: #fff;
	box-shadow: 0px 2px 10px 5px #1abc9c;
	color: #000;
}

.button:after {
	content: "";
	background: #ffee03;
	display: block;
	position: absolute;
	padding-top: 1200%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s;
}

.button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
}

.button:focus {
	outline: 0;
}
