#contact {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: 20px;
}

#contact img {
	max-width: 5rem;
	margin-right: 1rem;
	margin-top: 1rem;
	border: none;
}

#contact button {
	transform: rotate(0);
	margin: 0;
	width: 400px;
	font-size: 40px;
	color: white;
	border: 1px solid black;
}

.linkSocial {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.linkSocial a {
	color: white;
}

.linkSocial a:hover {
	color: tomato;
}

.linkSocial p {
	font-size: 30px;
}

@media only screen and (min-width: 600px) {
	.linkSocial p {
		font-size: 30px;
	}
}
@media only screen and (max-width: 600px) {
	.linkSocial p {
		font-size: 20px;
	}
}

#linkedin {
	background-color: rgb(39, 137, 254);
	background: linear-gradient(90deg, rgba(39, 137, 254, 1) 0%, rgba(27, 200, 169, 0.9780287114845938) 100%);
	border: 1px solid black;
}

#github {
	background: rgb(133, 39, 254);
	background: linear-gradient(90deg, rgba(133, 39, 254, 1) 0%, rgba(27, 138, 200, 0.9780287114845938) 100%);
	border: 1px solid black;
}

#linkedin:hover {
	transition: 0.5s;
	border: 1px solid white;
}

#github:hover {
	transition: 0.5s;
	border: 1px solid white;
}

#github {
}

#mail {
}

#form {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
	padding: 2rem;
}

#contact p {
	margin-top: 5rem;
	text-align: center;
}

#form input::placeholder {
	color: rgb(142, 255, 198);
}
#form textarea::placeholder {
	color: rgb(142, 255, 198);
}

#form input {
	font-family: "Roboto Mono", monospace;
	margin-bottom: 1rem;
	padding: 5px 10px;
	width: 400px;
	height: 30px;
	color: white;
	background: rgb(85, 84, 85);
	border: 1px solid black;
}

#form textarea {
	background: rgb(85, 84, 85);
	color: white;
	padding: 5px 10px;
	max-width: 400px;
	min-width: 400px;
	min-height: 100px;
}

#form button {
	width: 80px;
	font-size: 19px;
}

#form #Send {
	background: violet;
	width: 200px;
	padding: 5px 10px;
	margin: 1rem auto;
	background: rgb(255, 255, 255);
	color: black;
}

#form #Send:hover {
	transition: 0.33s;
	background: gray;
	color: white;
	cursor: pointer;
	border: 1px solid white;
}

@media only screen and (orientation: portrait) {
	#contact button {
		width: 10rem;
		font-size: 15px;
	}

	#contact {
		padding: 1rem;
		font-size: 16px;
		height: 40rem;
	}

	#form input {
		width: 90%;
	}

	#form textarea {
		max-width: 90%;
		min-width: 90%;
		min-height: 100px;
	}

	#form #Send {
		width: 90%;
	}
}
